.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.backLink {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #0070f3;
}

.arrowIcon {
  margin-right: 8px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.characterImage {
  border-radius: 10px;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2rem;
  margin: 10px 0;
}
